@import 'configs';

*{
    box-sizing: border-box;
    font-family: $fontBody;
}

body{
    font-size: 18px;
    overflow-x: hidden;
    margin: 0;
}

header{
    min-height: 100vh;
    position: relative;
    .container{
        max-width: 1440px;
        margin: 0 auto;
        padding: 2rem;
        .navbar{
            min-height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                width: 2.5rem;
            }
            .nav-links{
                display: flex;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: $VeryDarkBlue;
                        font-family: $font-stack;
                        font-weight: 700;
                        font-size: 1.1rem;
                        margin: 0 1.5rem;
                        text-transform: uppercase;
                        &:hover{
                            color: $GrayishBlue;
                            border-bottom: 1px solid $GrayishBlue;
                        }
                    }
                }
            }
            .hamburger-menu{
                cursor: pointer;
                display: none;
                .open{
                    display: block;
                }
                .close{
                    display: none;
                }
                &.burger-active{
                    .open{
                        display: none;
                    }
                    .close{
                        display: block;
                    }
                }
            }
        }
        .showcase{
            min-height: 80vh;
            display: flex;
            align-items: center;
            .showcase-text{
                flex: 1;
                h2{
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: lighter;
                    letter-spacing: 3px;
                    word-spacing: 0.25rem;
                    color: $GrayishBlue;
                    span{
                        background-color: $VeryDarkBlue;
                        color: $VeryDarkBlue;
                        font-weight: bold;
                        border-radius: 20px;
                        font-size: 1rem;
                        padding: 0.25rem 0.5rem;
                        margin-right: 1rem;
                        color: #fff;
                    }
                }
                h1{
                    color: $VeryDarkBlue;
                    font-family: $font-stack;
                    font-size: 5rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-top: 0;
                    width: 50%;
                    margin-bottom: 0;
                    line-height: 1;
                }
                p{
                    font-family: $fontBody;
                    margin-top: 1.3rem;
                    color: $DarkGrayishBlue;
                    width: 20rem;
                    line-height: 1.4;
                }
                .cta{

                    margin-top: 3rem;
                    button{
                        border: none;
                        outline: none;
                        cursor: pointer;
                        text-transform: uppercase;
                        padding: 0.8rem 2rem;
                        font-family: $font-stack;
                        border-radius: 6px;
                        &:nth-of-type(1){
                            background-color: $Red;
                            color: #fff;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        &:nth-of-type(2){
                            background-color: transparent;
                            color: $GrayishBlue;
                            letter-spacing: 2px;
                            font-size: 1rem;
                        }
                    }
                }
            }
            .showcase-img{
                position: absolute;
                right: -15rem;
                img{
                    width: 100%;
                }
            }
        }
    }
    &::after{
        content: '';
        position: absolute;
        height: 55vh;
        width: 50vw;
        top: 0;
        right: 0;
        background-color: $LightGrayishBlue;
        border-bottom-left-radius: 100px;
        z-index: -1;
    }
}

footer{
    p{
        margin-top: 0;
        text-align: center;  
        font-size: 0.9rem;      
    }
}

@media(max-width: 1250px){
    header{
        min-height: 100vh;
        position: relative;
        .container{
            .navbar{
                .nav-links{
                    display: none;
                    position: fixed;
                    top: 7rem;
                    right: 50%;
                    transform: translate(50%);
                    z-index: 2;
                    text-align: center;
                    background-color: #fff;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 20rem;
                    padding: 2rem;
                    box-shadow: 0 5px 20px hsl(237, 12%, 72%);
                    border-radius: 5px;
                    padding-bottom: 0;
                    li{
                        margin-bottom: 1.5rem;
                        &:nth-of-type(4){
                            border-top: 1px solid hsl(232, 17%, 83%);
                            padding-top: 1.25rem;
                        }
                    }
                    &.active{
                        display: block;
                    }
                }
                .hamburger-menu{
                    display: block;
                }
            }
            .showcase{
                flex-direction: column;
                .showcase-text{
                    flex: 1;
                    order: 2;
                    h1{
                        font-size: 4rem;
                        width: 100%;
                    }
                    p{
                        font-family: $fontBody;
                        margin-top: 1.3rem;
                        color: $DarkGrayishBlue;
                        width: 20rem;
                        line-height: 1.4;
                    }
                }
                .showcase-img{
                    position: static;
                    margin: 3rem 0 5rem;
                    transform: translateX(0rem);
                    img{
                        width: 120%;
                    }
                }
            }
        }
        &::after{
            content: '';
            position: absolute;
            height: 55vh;
            width: 50vw;
            top: 0;
            right: 0;
            background-color: $LightGrayishBlue;
            border-bottom-left-radius: 100px;
            z-index: -1;
        }
    }
}